---
---
 <div class="max-w-4xl mx-auto py-m">
    <!-- Header Title -->
    <h1 class="text-xlarge font-light font-extrabold text-neutral-50">
      Tailwind Config Showcase
      <span class="block relative mt-xs">
        <span class="absolute bottom-0 left-0 w-full h-[8px] rounded bg-neutral-50 animate-expand"></span>
      </span>
    </h1>
    <!-- Header Description -->
    <p class="mt-s text-base font-regular text-neutral-50 opacity-90">
      Design systemer og Tailwind config
    </p>
  </div>

